button {}
#site{position:relative;margin:0;padding:0;top:0;left:0;}
/*template menu */

/*template html 
#html{position:absolute;left:110px;top:0;width:100%;}
*/


/* general */
.tableform{
	font-family:arial;
}
.tableform td{
}
#edit ,#new,#new_div_id,#search ,#search_div_id{}
#list {}
#message{margin-left:300px;}
#popup_close{clear:both;margin-left:300px;}


/* liste */

.listline0 td{}
.listline1 td{}
 
#list table{
	border-spacing:2px;
	border-collapse:separate;
	background-color:#fff;
	/*table-layout: fixed;*/
}
#list th{
	/* white-space: pre; overflow: hidden; */
}
#list td{
	white-space: nowrap;
	overflow: hidden;
}
#list td:hover{
	background-color:#ddd;	
}
#list span{
	text-decoration:none;
}
#list span:hover{
	color:white;
	background-color:#666;	
}
#list tr.rowodd {background-color: #FFF;}
#list tr.roweven {background-color: #FF8;}


#list th:hover{
	background-color:#aaa;
}

/* edit modif */
#edit{
}
#edit a{
}
#edit a:hover{
}

/* search  */
#search_div_id{
}

/* new */
#new_div_id{
}



#adw_act{border:solid #f080a0;height:300px;width:400px;top:50px;left:200px;position:absolute;}
#adw_act_header{background-color:#f0a080;cursor:move;overflow:hidden;}
#adw_act_header_h2 {display:inline;padding-left:30%;}
#adw_act_header_img {cursor:pointer;}
#adw_act_contenu {overflow:auto;width: 100%;height: 90%;background-color:#ffffe0;}
#adw_act_contenu  input{display:block;}

#adw_arbo {display:inline;}
#adw_calculavoir {display:inline;}
