/* template */
body{
	background-color:#ffffff;
	color:black;
	font-family:arial;
}
#site{margin:0;padding:0;}

/* general */
.tableform{
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	border:1px solid black;
	border-color:#444444;
	border-collapse:collapse;
	border-spacing:2px;
	empty-cells:show;
}

#edit ,#new,#search ,
#new_div_id,#search_div_id,#editupload,#multimod_div_id {
	border:2px solid #FA8595;
	color:#000000;
	background-color:#ffffff;
	font-size:12px;
}
#search_div_header,#editupload_header,#multimod_div_header {background-color:#FA8595;}

#list {color:#000;}

#message{margin-left:300px;}
#popup_close{clear:both;margin-left:300px;}


/* liste */
#list th{	
	border:1px solid black;
	background-color:#BA4555;
	color:black;
	font-family:arial;
	font-size:14px;	
}
#list tr.rowodd {background-color: #FFFFFF;}
#list tr.roweven {background-color: #FA8595;}

#list td{
	border:1px solid black;
	padding-left:2px;
	padding-right:2px;
	color:black;
	font-family:arial;
	font-size:12px;	
	text-align:center;
}
#list table{
}
#list td:hover{
	border:1 solid #444444;
	margin:1;
}
#list span{
	color:black;
	text-decoration:none;
}
#list span:hover{
	color:black;
	background-color:#CCCCCC;
}
#pagination span{background: #ffffff;color: #000000;}
#pagination_total{color:#ffffff;}


/* edit modif */
#edit{
	margin:20px;
	background-color:#CCCCCC;
	padding:10px;
}
#edit a{
	color:black;
	text-decoration:none;
}
#edit a:hover{
	text-decoration:underline;
}

/* search  */
#search_div_id{
}

/* new */
#new_div_id{
}
#orderby{width:100px;}
#search_prd_rubrique{width:200px;}
